# **Análisis exploratorio de Datos (EDA)**

## México y la imigración ¿Cuáles son sus causas?

#### ¿Depende de la clase social la razón por la cuál los mexicanos migran? Hipótesis a contrastar: previsiblemente la clase social determina las razones por la cuales los mexicanos migran.

In [52]:
#Como primer paso voy a importar las librerias que necesitaré para poder realizar mi anális exploratorio de datos

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns
import plotly.express as px
import os.path

In [66]:
#En esta sección leeremos los archivos que necesitaremos para hacer tal análisis
'''En esta parte estoy teniendo problemas para poder acceder al archivo puesto que me marca un error diciendo que no encuentra el archivo, 
por lo tanto he revisado stack overflow y encontrado una solución que ha funcionado, la cual ha sido agregar la letra r al incio
'''


df_INEGI_Yr2020_07 = pd.read_excel(r"/Users/stefa/REPO_PRUEBA/EDA_Proyecto/src/data/cpv2020.xlsx",sheet_name="07",skiprows=[0,1,2,3,4,5])
df_INEGI_Yr2020_07


#El siguiente reto que me estoy encontrando es que el archivo en excel esta bloqueado, así que no puedo ajustar desde excel, y tendré que renombrar columnas

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Buscar trabajo,Cambio u oferta de trabajo,Reunirse con la familia,Se casó o unió,Estudiar,Por inseguridad delictiva o violencia,Por desastres naturales,Lo deportaron,Otra causa,No especificado
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Estados Unidos Mexicanos,Total,Total,6888490.0,1129177.0,855435.0,2515611.0,636148.0,463170.0,274158.0,24742.0,41390.0,860165.0,88494.0
2,Estados Unidos Mexicanos,Total,05-09 años,624339.0,0.0,0.0,479214.0,0.0,42379.0,24816.0,1760.0,587.0,67922.0,7661.0
3,Estados Unidos Mexicanos,Total,10-14 años,542634.0,6758.0,7067.0,385222.0,1102.0,58274.0,26181.0,1826.0,630.0,50036.0,5538.0
4,Estados Unidos Mexicanos,Total,15-19 años,595630.0,73319.0,22189.0,270949.0,41917.0,117612.0,23439.0,1543.0,482.0,37946.0,6234.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1780,32 Zacatecas,Mujeres,75-79 años,235.0,7.0,18.0,154.0,5.0,0.0,3.0,0.0,0.0,43.0,5.0
1781,32 Zacatecas,Mujeres,80-84 años,149.0,2.0,6.0,97.0,0.0,0.0,2.0,0.0,0.0,40.0,2.0
1782,32 Zacatecas,Mujeres,85 años y más,193.0,1.0,2.0,129.0,0.0,0.0,0.0,0.0,0.0,58.0,3.0
1783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1784,1 Se refiere a la población que en marzo de 20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
'''En esta parte tuve un poco de problemas porque las filas con los títulos estaban concatenadas, así que parecía que necesitaba poner un salto de carro, al final, 
buscando, he visto que con el inplace funcionaba el cambio de nombre'''

df_INEGI_Yr2020_07.rename(columns ={"Unnamed: 0":"Entidad Federativa","Unnamed: 1":"Género","Unnamed: 2": "Grupos quinquenales de edad","Unnamed: 3" : "Población de 5 años y más migrante"},inplace=True)
df_INEGI_Yr2020_07

,Entidad Federativa,Género,Grupos quinquenales de edad,Población de 5 años y más migrante,Buscar trabajo,Cambio u oferta de trabajo,Reunirse con la familia,Se casó o unió,Estudiar,Por inseguridad delictiva o violencia,Por desastres naturales,Lo deportaron,Otra causa,No especificado
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Estados Unidos Mexicanos,Total,Total,6888490.0,1129177.0,855435.0,2515611.0,636148.0,463170.0,274158.0,24742.0,41390.0,860165.0,88494.0
2,Estados Unidos Mexicanos,Total,05-09 años,624339.0,0.0,0.0,479214.0,0.0,42379.0,24816.0,1760.0,587.0,67922.0,7661.0
3,Estados Unidos Mexicanos,Total,10-14 años,542634.0,6758.0,7067.0,385222.0,1102.0,58274.0,26181.0,1826.0,630.0,50036.0,5538.0
4,Estados Unidos Mexicanos,Total,15-19 años,595630.0,73319.0,22189.0,270949.0,41917.0,117612.0,23439.0,1543.0,482.0,37946.0,6234.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1780,32 Zacatecas,Mujeres,75-79 años,235.0,7.0,18.0,154.0,5.0,0.0,3.0,0.0,0.0,43.0,5.0
1781,32 Zacatecas,Mujeres,80-84 años,149.0,2.0,6.0,97.0,0.0,0.0,2.0,0.0,0.0,40.0,2.0
1782,32 Zacatecas,Mujeres,85 años y más,193.0,1.0,2.0,129.0,0.0,0.0,0.0,0.0,0.0,58.0,3.0
1783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1784,1 Se refiere a la población que en marzo de 20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
#Ahora estoy trayendo el Sheet número 5, el cual tiene los datos de lugares a los que los mexicanos han migrado

df_INEGI_Yr2020_5 = pd.read_excel(r"/Users/stefa/REPO_PRUEBA/EDA_Proyecto/src/data/cpv2020.xlsx",sheet_name="05",skiprows=[0,1,2,3,4,5],usecols="A:D,I:L")
df_INEGI_Yr2020_5

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,En otra entidad o país,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,Total,En otra entidad,En los Estados Unidos de América,En otro país
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Estados Unidos Mexicanos,Total,Total,115693273.0,4357929,3807844,374155,175930
3,Estados Unidos Mexicanos,Total,05-09 años,10764379.0,385509,353149,20662,11698
4,Estados Unidos Mexicanos,Total,10-14 años,10943540.0,334988,304784,20721,9483
...,...,...,...,...,...,...,...,...
1779,32 Zacatecas,Mujeres,65-69 años,23212.0,387,224,162,1
1780,32 Zacatecas,Mujeres,70-74 años,18020.0,214,130,84,0
1781,32 Zacatecas,Mujeres,75-79 años,13342.0,160,97,63,0
1782,32 Zacatecas,Mujeres,80-84 años,9417.0,85,57,28,0
1783,32 Zacatecas,Mujeres,85 años y más,9273.0,118,83,34,1

In [65]:
#En este apartado he renombrado las columnas puesto que el Excel esta bloqueado y no se pueden modificar manualmente en el excel, por lo cual he tenido que utilizar las herramientas de pandas para nombrar las columnas

df_INEGI_Yr2020_5.rename(columns ={"Unnamed: 0":"Entidad Federativa de residencia actual","Unnamed: 1":"Género","Unnamed: 2": "Grupos quinquenales de edad","Unnamed: 3" : "Población de 5 años y más migrante","En otra entidad del país":"Total en otra entidad del país","Unnamed: 9":"En otra entidad","Unnamed: 10":"En los Estados Unidos de América","Unnamed: 11":"En otro país"},inplace=True)
df_INEGI_Yr2020_5

,Entidad Federativa de residencia actual,Género,Grupos quinquenales de edad,Población de 5 años y más migrante,En otra entidad o país,En otra entidad,En los Estados Unidos de América,En otro país
0,NaN,NaN,NaN,NaN,Total,En otra entidad,En los Estados Unidos de América,En otro país
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Estados Unidos Mexicanos,Total,Total,115693273.0,4357929,3807844,374155,175930
3,Estados Unidos Mexicanos,Total,05-09 años,10764379.0,385509,353149,20662,11698
4,Estados Unidos Mexicanos,Total,10-14 años,10943540.0,334988,304784,20721,9483
...,...,...,...,...,...,...,...,...
1779,32 Zacatecas,Mujeres,65-69 años,23212.0,387,224,162,1
1780,32 Zacatecas,Mujeres,70-74 años,18020.0,214,130,84,0
1781,32 Zacatecas,Mujeres,75-79 años,13342.0,160,97,63,0
1782,32 Zacatecas,Mujeres,80-84 años,9417.0,85,57,28,0
1783,32 Zacatecas,Mujeres,85 años y más,9273.0,118,83,34,1